@model IEnumerable<SerTerraQueijaria.Models.TiposProdutos>

@{
    Layout = "_Layout-Admin";
    ViewData["Title"] = "Index";
}

<h1 class="ms-4 mb-3 mt-2">Tipos Produtos</h1>

<div id="botao">
    <a asp-action="Create" class="btn btn-outline-dark mt-2 ms-4">
        <svg bootstrap-icon="PlusSquare" width="16" height="16" arial-label="Criar"></svg>
        Criar
    </a>
</div>

<table class="table table-striped table-hover border-1 border-dark" style="background-color:#ffffff; margin: 2px auto;">
    <thead>
        <tr>
            <th class="col">
                @Html.DisplayNameFor(model => model.TipoProduto)
            </th>
            <th class="col-4"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td class="col">
                    @Html.DisplayFor(modelItem => item.TipoProduto)
                </td>
                <td class="col-4">
                    <a asp-action="Edit" asp-route-id="@item.TiposProdutosId" class="btn btn-outline-dark m-1 col-md d-none d-lg-block d-md-block cols-md-6 mt-1">
                        <svg bootstrap-icon="PencilSquare" width="16" height="16" arial-label="Editar"></svg>
                        Editar
                    </a>
                   
                    <a asp-action="Details" asp-route-id="@item.TiposProdutosId" class="btn btn-outline-dark m-1 col-md d-none d-lg-block d-md-block cols-md-6 mt-1">
                        <svg bootstrap-icon="InfoCircle" width="16" height="16" arial-label="Detalhes"></svg>
                        Detalhes
                    </a>

                    <a asp-action="Delete" asp-route-id="@item.TiposProdutosId" class="btn btn-outline-dark m-1 col-md d-none d-lg-block d-md-block cols-md-6 mt-1">
                        <svg bootstrap-icon="Trash" width="16" height="16" arial-label="Deletar"></svg>
                        Deletar
                    </a>
               
                </td>
            </tr>
        }
    </tbody>
</table>
